## Server port that listens for requests 
# SERVER_PORT=7000

## Replace <folder_database> with the actual path to load the databases 
# DATABASE_GEOLITE2=<folder_database>/Geolite2-City.mmdb
# DATABASE_CITYSTATE=<folder_database>/city-state.csv

## You can request a token for GeoLite2 Maxmind's product from https://www.maxmind.com/en/geoip2-services-and-databases
# FEATWS_GEOLITE_TOKEN=mygeolite2token